$primaryColor:rgb(140, 212, 5);
$titleColor:rgb(4, 145, 27); 
$secondColor:white;
$letterColor:rgb(134, 134, 134);
$backgcolor:rgb(199, 196, 196);
$fontCorteI:'Pacifico', cursive;
$primaryFont:'Noto Sans', sans-serif;
$hoverColor:rgb(87, 86, 86);
$ligthgrey:rgb(235, 235, 235);