body {
  margin:0;
}
.form{
  max-width:100vw;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
}
.container{
  display:flex;
  flex-direction:column;
  
  
}
.form__input{
  width:50%;
  height:30px;
 }
 .form__label{
  margin:10px;
  font-weight: bold;;
 }
 .form__link{
   text-decoration:none;
 }
.form__image{
  position:absolute;
}
.form__img{
  position:relative;
  right:150%;
  width:100px;
  height:100px;
  
}
.form__field{
  
  border:none;
}
.form__end{
  width:60%;
}
.form__button{
  width:30%;
  height:40px;
}
.copyright{
  margin-left:50px; 
  opacity: 50%; 
}