body{
    margin:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing:2px;
}
.logo{
    display:flex;
    height: 4rem;
    z-index:4;
    align-items:center;
    justify-content:flex-end;
    position:fixed;
    width:100%;
    background-color:white;
    
}
.logo__title{
position:relative;
right:30%;
}
.logo__search{
    position:relative;
    border:none;
    background:none;
    border-bottom:solid 1px black;
    right:5%;
    padding:0 20px;
    outline: none;
    width:200px;
    
}

.logo__search::placeholder{
    color:rgb(150, 149, 149);
}
.logo__search .search-outline{
    position:absolute;
    transform:translateY(-50%);
    padding-right:10px
}
.icon--search{
    position:relative;
    line-height:3%;
    right:15%;
}
.logo__icon{
    position:relative;
    right: 4%;
    Margin:10px;
    cursor:pointer;
    
}
.menu-tipo{
    z-index:999;
    display:flex;
    flex-direction:row;
    position:relative;
    padding:0.5rem;
    position:fixed;
}
.menu-tipo--genero{
    position:relative;
    top:100px;
   font-size:20px;
    text-decoration:none;
    color:black;
    transition:0.5s;
   
}
.menu-tipo--genero:hover{
    color:rgb(133, 194, 247);
}
.menu{
    display:flex;
    flex-direction:column;
    position:relative;
    padding:1rem;
    position:fixed;
    z-index:9;
}
.menu__link{
    color:black;
    position:relative;
    top:125px;
    text-decoration:none;
    transition:0.5s;
    z-index:2
}
.menu__link:hover{
    color:rgb(167, 174, 180);
}
.menu__link--menu-1{
    color:rgb(255, 174, 0);
}
.gallery{
   
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    position:relative;
    text-align:center;
   
}
.gallery__Img{
    background-size:cover;
    background-position:center;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 5px 15px;
    margin:2rem;
    height:450px;
    width:300px;
    background-repeat:no-repeat;
    cursor:pointer;
    z-index:1;
}
.gallery__descrip{
    position:relative;
    top:100%;
}
.galerry__img--img1{
    background-image:url(../images/img1.jpg);
}

.galerry__img--img2{
    background-image:url(../images/img2.jpg);
}
.galerry__img--img3{
    background-image:url(../images/img3.jpg);
}
.galerry__img--img4{
    background-image:url(../images/img4.jpg);
}
.galerry__img--img5{
    background-image:url(../images/img5.jpg);
}
.galerry__img--img6{
    background-image:url(../images/img6.jpg);
}
.galerry__img--img7{
    background-image:url(../images/img7.jpg);
}
.galerry__img--img8{
    background-image:url(../images/img8.jpg);
}
.galerry__img--img9{
    background-image:url(../images/img9.jpg);
}
.galerry__img--img10{
    background-image:url(../images/img10.jpg);
}
.galerry__img--img11{
    background-image:url(../images/img11.jpg);
}
.galerry__img--img12{
    background-image:url(../images/img12.jpg);
}
.galerry__img--img13{
    background-image:url(../images/img13.jpg);
}
.galerry__img--img14{
    background-image:url(../images/img14.jpg);
}
.galerry__img--img15{
    background-image:url(../images/img15.jpg);
}
.galerry__img--img16{
    background-image:url(../images/img16.jpg);
}
.galerry__img--img17{
    background-image:url(../images/img17.jpg);
}
.galerry__img--img18{
    background-image:url(../images/img18.jpg);
}
.galerry__img--img19{
    background-image:url(../images/img19.jpg);
}
.galerry__img--img20{
    background-image:url(../images/img20.jpg);
}
.galerry__img--img21{
    background-image:url(../images/img21.jpg);
}
.galerry__img--img22{
    background-image:url(../images/img22.jpg);
}
.galerry__img--img23{
    background-image:url(../images/img23.jpg);
}
.aside{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:100px;
    
}
.aside__header{
    border-bottom:1px solid rgb(110, 109, 109);
}
.aside__title{
    font-family: 'Rock 3D', cursive;
    font-size:30px;
    color:rgb(211, 124, 245);
}
.footer{
    display:flex;
    justify-content:space-around;
    position:relative;
    top:200px;
    background-color:rgb(255, 255, 255);
    border-top: solid 1px rgb(207, 201, 201);
}
.footer__link{
    text-decoration:none;
    color:black;
    transition:0.5s;
  
}
.footer__link:hover{
    color:rgb(228, 206, 8);
}
.footer__list{
    display:flex;
    flex-direction:column;
}
@media screen and (max-width:576px){
    .aside__title{
        display:flex;
        justify-content:center;
        text-align:center;
        font-size:15px;
    }
}
@media screen and (max-width:768px) {
    .aside__title{
        display:flex;
        justify-content:center;
        text-align:center;
       
    }
}
@media screen and (max-width:992px)and (min-width:1200) {
    .aside__title{
        display:flex;
        justify-content:center;
        text-align:center;
       
    }
}