.menu, .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  text-decoration: none;
  margin: 1rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  text-decoration: none;
  margin: 1rem;
  background-color: white;
}

.menu__icon {
  background-color: #8cd405;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__icon:hover {
  background-color: #85c906;
}

.menu__link {
  text-decoration: none;
  margin: 1rem;
  color: #868686;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: #575656;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  position: relative;
  left: -6%;
}

.header__title {
  color: #04911b;
}

.header__title::first-letter {
  text-transform: uppercase;
}

.header span {
  font-family: "Pacifico", cursive;
  color: #04911b;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 11%;
}

.header__link {
  text-decoration: none;
  margin: 1rem;
  color: #868686;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #575656;
}

.header__link::first-letter {
  text-transform: uppercase;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.buttons__button {
  position: relative;
  margin: 0.5rem;
  color: white;
  z-index: 9;
}

.buttons__button::first-letter {
  text-transform: uppercase;
}

.buttons__button--mody {
  border: none;
  background-color: #8cd405;
  width: 80px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody:hover {
  background-color: #71ac05;
}

.buttons__button--mody2 {
  border: none;
  background-color: #8cd405;
  width: 150px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody2:hover {
  background-color: #71ac05;
}

.buttons__button--mody3 {
  border: none;
  background-color: #8cd405;
  width: 200px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody3:hover {
  background-color: #71ac05;
}

.buttons__button--mody4 {
  border: none;
  background-color: #8cd405;
  width: 170px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody4:hover {
  background-color: #71ac05;
}

.buttons__button--mody5 {
  border: none;
  background-color: #8cd405;
  width: 100px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody5:hover {
  background-color: #71ac05;
}

.buttons__button--mody6 {
  border: none;
  background-color: #8cd405;
  width: 120px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody6:hover {
  background-color: #71ac05;
}

.buttons__button--mody7 {
  border: none;
  background-color: #8cd405;
  width: 100px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.buttons__button--mody7:hover {
  background-color: #71ac05;
}

article, .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__card {
  margin: 1rem;
  background-size: cover;
  background-position: center;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards__image {
  width: 400px;
  height: 150px;
}

.cards__body {
  width: 400px;
}

.cards__title, .cards__info, .cards__price {
  padding: 15px;
  color: #868686;
}

.cards__title {
  color: #575656;
}

.cards button {
  background: none;
  border: 1px solid #8cd405;
  height: 35px;
  width: 160px;
  position: relative;
  left: 28%;
  cursor: pointer;
  color: #04911b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cards button:hover {
  color: #8cd405;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .ofertas {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1500px;
  height: 250px;
}

section .ofertas__title {
  padding: 15px;
  text-transform: uppercase;
  color: #575656;
}

section .ofertas__info {
  padding: 15px;
  color: #868686;
}

.icons-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.icons-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: block;
  border-right: solid 1px #d1cece;
  background-color: #e7e3e3;
  height: 80px;
  width: 240px;
  padding: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.icons-menu span {
  position: relative;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8cd405;
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons-menu span:hover {
  color: #81c504;
}

.icons-menu__title {
  color: #868686;
}

.icons-menu__title::first-letter {
  text-transform: uppercase;
}

.users-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
}

.users-info__ayuda {
  background-size: cover;
  background-position: center;
  height: 240px;
  width: 475px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.users-info--img1 {
  background-image: url(/image/empresario.jpg);
}

.users-info--img2 {
  background-image: url(/image/new-hunday.jpg);
}

.users-info--img3 {
  background-image: url(/image/usuarios.jpg);
}

.users-info__title {
  text-align: start;
  font-size: 30px;
  padding: 15px;
  color: white;
}

.users-info button {
  margin: 15px;
  background: none;
  border: solid 1px white;
  height: 30px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.users-info button:hover {
  color: black;
}

.users-info span {
  font-family: "Pacifico", cursive;
}

.menu-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-info__title {
  color: #8cd405;
}

.menu-info__title::first-letter {
  text-transform: uppercase;
}

.menu-info__item {
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-info__item:hover {
  color: #04911b;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: #eff0f1;
}
/*# sourceMappingURL=main.css.map */