    article, .cards{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
  
       

    }
    .cards {
       
        
    &__card{
        
       margin:1rem;
       background-size:cover;
       background-position:center;
       background-color: white;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            
    }

    &__image{
        width: 400px;
        height: 150px;
    }

    &__body{
        width: 400px;
    }

    &__title, &__info, &__price{
        padding:15px;
        color:$letterColor;
    }
    &__title{
        color:$hoverColor;
    }

    button{
        background:none;
        border:1px solid $primaryColor;
        height:35px;
        width:160px;
        position:relative;
        left:28%;
        cursor:pointer;
        color:$titleColor;
        transition:0.3s;
        &:hover{
            color:$primaryColor;
        }
    }


}

