.header{
    @include flexHeader(center, center, 4rem);
    position:relative;
    left:5%;
    
    &__title{
        color:$titleColor;
        &::first-letter{
            text-transform:uppercase;
        }
    }
    span{
        font-family:$fontCorteI;
        color:$titleColor;
    }
    &__contact{
        display:flex;
        position:relative;
        left:12%;    
    }
    &__link{
        @include linksNav();
        color:$letterColor;
        transition: 0.3s;
        &:hover{
            color:rgb(87, 86, 86);
        }
        &::first-letter{
            text-transform:uppercase;
        }
    }
    
   
}
