.menu-info{
    display:flex;
    justify-content:center;
    align-items:center;
    
   
    &__list{
        display:flex;
        justify-content:center;
        align-items:center;
        
        
    }
    &__title{
        color:$primaryColor;
        &::first-letter{
            text-transform:uppercase;
        }
    }

    
    &__item{
        
        list-style:none;
        cursor:pointer;
        transition:0.3s;
        
        &:hover{
            color:$titleColor;
        }
       
    }
}