.menu, .menu__nav{
    @include flexHeader(center,center,4rem);
    @include linksNav();
    
}

.menu{
    @include flexHeader(center,center,4rem);
    @include linksNav();
    background-color:white;
   
    &__icon{
        background-color:$primaryColor;
        display:flex;
        justify-content:center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor:pointer;
        transition:0.3s;
        &:hover{
            background-color:rgb(133, 201, 6);
        }
    }

    &__link{
        @include linksNav();
        color:$letterColor;
        transition:0.3s;
        &:hover{
            color:$hoverColor;
        }
    }
}